.gallery-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  /* max-width: 620px; */
  margin: 0 auto;
}

.gallery-box .single {
  cursor: pointer;
}

.gallery-box .single img {
  max-width: 100%;
}

.gallery-box .single img:hover {
  transform: scale(1.02);
}

.lightbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.lightbox .btnClose,
.lightbox .btnPrev,
.lightbox .btnNext {
  position: fixed;
  cursor: pointer;
  opacity: 0.6;
  color: #fff;
  z-index: 9999;
}

.btnNext:hover,
.btnPrev:hover,
.btnClose:hover {
  opacity: 1;
}

.lightbox .btnClose {
  top: 30px;
  right: 40px;
  font-size: 40px;
}

.lightbox .btnPrev {
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
  font-size: 40px;
}

.lightbox .btnNext {
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  font-size: 40px;

}

.fullScreenImage {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullScreenImage img {
  max-width: 80%;
  margin: auto;
  max-height: 80%;
  pointer-events: none;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}