body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainHeader .navbar-toggler {
    color: #fff;
    border: 1px solid #fff;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.scrolled .navbar-toggler {
    color: #000;
    border: 1px solid #000;
}

.mainHeader .nav-link {
    color: white;
    font-size: 18px;
}

.mainHeader .navbar-brand {
    color: white;
}



.mainHeader .navbar-brand h3 {
    margin: 0;
}

.mainHeader .navbar {
    transition: all .3s ease-in-out;
}

.scrolled .navbar {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.scrolled .navbar .nav-link {
    color: #000;
}

.scrolled .navbar .navbar-brand {
    color: #000;
}


.navbar button.btn .nav-link {
    font-size: 14px;
}

.scrolled .navbar button.btn .nav-link {
    color: white;
}

.mainHeader .navbar button.btn {
    border-radius: 10px;
    padding: 10px 28px;

    color: white;
    /* background-image: url("../../public/assets/img/arrow-up.svg"); */
    background-repeat: no-repeat;
    background-position: right center;
}

@media (max-width:768px) {
    .mainHeader .navbar-collapse {
        padding: 20px;
    }

    .mainHeader .navbar-nav {
        padding: 20px 0;
    }

    .mainHeader .nav-link:first-child {
        margin-left: 0;
    }

    .mainHeader .nav-link {
        margin: 0;
    }

    .mainHeader .navbar-collapse {
        background: linear-gradient(90deg, #071c4d, #002d97);
    }

    .scrolled .navbar-collapse {

        background: #fff;
    }
}


footer {
    padding: 80px 0;
    background: linear-gradient(90deg, #071c4d, #002d97) !important;
    color: white;
}

footer .footer-content h3 {
    text-align: center;
}

footer .footer-content p {
    text-align: center;
}

footer .footer-content span {
    background-color: white;
    padding: 0 10px;
    border-radius: 12px;
    color: #000;
    margin-top: 10px;
}

footer .footer-content .address p {
    text-align: left;
}