body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.mainHeader .navbar-toggler {
    color: #fff;
    border: 1px solid #fff;
}

.container {
    max-width: 1200px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.scrolled .navbar-toggler {
    color: #000;
    border: 1px solid #000;
}

.mainHeader .nav-link {
    color: white;
    font-size: 18px;
}

.mainHeader .navbar-brand {
    color: white;
}

.mainHeader .navbar-brand h3 {
    margin: 0;
}

.mainHeader .navbar {
    transition: all 0.3s ease-in;
    border-bottom: 1px solid #6c757d;
}

.scrolled .navbar {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    background-color: white;
    border-bottom: 1px solid #fff;

}

.scrolled .navbar .nav-link {
    color: #000;
}

.scrolled .navbar .nav-link.active {
    color: #59b3ff;
}

.mainHeader .navbar .nav-link.active {
    color: #59b3ff;
}

.scrolled .navbar .navbar-brand {
    color: #000;
}


.navbar button.btn .nav-link {
    font-size: 14px;
}

.scrolled .navbar button.btn .nav-link {
    color: white;
}

.mainHeader .navbar button.btn {
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin-left: 8px;
    background-repeat: no-repeat;
    background-position: right center;
}

@media (max-width:768px) {
    .mainHeader .navbar-collapse {
        padding: 20px;
    }

    .mainHeader .navbar-nav {
        padding: 20px 0;
    }

    .mainHeader .nav-link:first-child {
        margin-left: 0;
    }

    .mainHeader .nav-link {
        margin: 0;
    }

    .mainHeader .navbar-collapse {
        background: linear-gradient(90deg, #071c4d, #002d97);
    }

    .scrolled .navbar-collapse {

        background: #fff;
    }
}


footer {
    padding: 80px 0;
    background: linear-gradient(90deg, #071c4d, #002d97) !important;
    color: white;
}

footer .social-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 20px 0;
}

footer .social-links i {
    color: #fff;
    font-size: 30px;
}

footer .footer-content h3 {
    text-align: center;
}

footer .footer-content p {
    text-align: center;
}

footer .footer-content span {
    background-color: white;
    padding: 0 10px;
    border-radius: 12px;
    color: #000;
    margin-top: 10px;
}

footer .footer-content .address p {
    text-align: left;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer .bfooter {
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
}

footer .bfooter p {
    font-size: 12px;
    margin: 0;
}

footer .bfooter .copy {
    text-align: left;
}

footer .bfooter .flinks {
    text-align: right;
}

footer .bfooter .flinks a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

footer .bfooter .flinks a:last-child {

    margin-right: 0;
}

@media (max-width:768px) {

    footer .bfooter .copy {
        text-align: center;
    }

    footer .bfooter .flinks {
        text-align: center;
    }

    footer .social-links {
        margin: 0 auto;
    }
}

/* Animation */

@-webkit-keyframes updown {
    0% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(15px);
    }
}

@keyframes updown {
    0% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(15px);
    }
}