/* section{
    height: 100vh;
} */
#hero {
    height: 100vh;
    background: linear-gradient(90deg, #071c4d, #002d97) !important;
}

.hero-content {
    color: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.hero-content p {
    font-size: 1.25rem;
    font-weight: 400;
}

.hero-content .client {
    margin-top: 60px;
}

.hero-content .client h6 {
    color: #ffffffb3;
    font-size: 1.0625rem;
}

.product-image img {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

#features {
    background-color: #f8f9fa;
    padding: 120px 0;
}


#features .section-heading {
    margin-bottom: 50px;
}

#features .section-heading h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

#features .section-heading p {
    color: #575757;
}

#features .boxes {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto;
    place-items: center;
    justify-content: center;
}

#testimonials {
    height: 100vh;
    padding: 120px 0;
    background: linear-gradient(90deg, #071c4d, #002d97) !important;
}

#testimonials .section-heading {
    margin-bottom: 50px;
}

#testimonials .section-heading h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}

#testimonials .section-heading p {
    color: #fff;
}

#testimonials .reviews {
    margin-top: 30px;
}

#testimonials .reviews .review-box {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

#testimonials .reviews p {
    /* color: #fff; */
}

#products {
    padding: 120px 0;
    background-color: #f8f9fa;

}

#products .pimage {
    display: flex;
    align-items: center;
    justify-content: center;
}

#products .pimage img {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

#products h2 {
    text-align: center;
}

#products .product-box {
    margin-bottom: 120px;
}

#products .product-box:last-child {
    margin-bottom: 0;
}

#products .description-box {
    background-color: lightblue;
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
}

#products .description-box p {
    margin-bottom: .5rem;
    width: 100%;
}

#products .benefits {
    border: 1px solid green;
    padding: 20px;
    border-radius: 15px;

}

#products .benefits h4 {
    font-size: 20px;

}

#faq {
    padding: 120px 0;
}

#faq .section-heading {
    margin-bottom: 50px;
}

#faq .section-heading h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

#faq .section-heading p {
    color: #575757;
}



#gallery {
    padding: 120px 0;
    background: linear-gradient(90deg, #071c4d, #002d97) !important;
}

#gallery .section-heading {
    margin-bottom: 50px;
}

#gallery .section-heading h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}

#gallery .section-heading p {
    color: #fff;
}

#gallery .gallery {
    background-color: #fff;
    position: relative;
}

#compare {
    padding: 120px 0;
    background-color: #f8f9fa;
}

#compare .description-box {
    background-color: #59b3ff;
    padding: 20px;
    border-radius: 15px;
    /* margin: 20px 0; */
}

#compare .description-box p {
    margin-bottom: .5rem;
    width: 100%;
}

@media (max-width:768px) {
    #hero {
        height: auto;
    }

    .hero-content {
        margin-top: 60px;
        height: auto;
    }

    #features {
        padding: 60px 0;
    }

    #features .boxes {
        grid-template-columns: auto;
    }

    #testimonials {
        height: auto;
        padding: 60px 0;
    }

    #testimonials .reviews .review-box {
        margin: 0 20px;
    }

    #products {
        padding: 60px 0;
    }

    #products .product-box {
        margin-bottom: 60px;
    }

    #faq {
        padding: 60px 0;
    }

    #compare {
        padding: 60px 0;
    }

    #compare img {
        filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    }

    #compare .our-generator h2 {
        margin-top: 60px;
    }


    footer .footer-content span {
        font-size: 10px;
    }

    footer {
        padding: 40px 0;
    }
}