/* section{
    height: 100vh;
} */
#hero {
    height: 100vh;
    padding-top: 50px;
    background: linear-gradient(90deg, rgba(7, 28, 77, 0.8), rgba(0, 45, 151, 0.8)), url("../public/assets/img/gallery/gallery-16.jpg") no-repeat center/cover fixed;

}

.hero-content {
    color: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.hero-content p {
    font-size: 1.25rem;
    font-weight: 400;
}

.hero-content .client {
    margin-top: 60px;
}

.hero-content .client h6 {
    color: #ffffffb3;
    font-size: 1.0625rem;
}

.hero-content .client-names {
    display: flex;
}

.hero-content .client p {
    font-size: 14px;
    margin: 0;
    margin-right: 20px;
}

.product-image img {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    animation: updown 5s infinite linear;
}

#features {
    background-color: #fff;
    padding: 120px 0;
}


#features .section-heading {
    margin-bottom: 50px;
}

#features .section-heading h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

#features .section-heading p {
    color: #575757;
}

#features .boxes {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto;
    place-items: center;
    justify-content: center;
}

#features .boxes .thecard {
    width: 300px;
}

#testimonials {
    height: 100vh;
    padding: 120px 0;
    /* background: linear-gradient(90deg, #071c4d, #002d97) !important; */
    background: linear-gradient(90deg, rgba(7, 28, 77, 0.8), rgba(0, 45, 151, 0.8)), url("../public/assets/img/gallery/gallery-10.jpg") no-repeat center/cover fixed;
}

#testimonials .section-heading {
    margin-bottom: 50px;
}

#testimonials .section-heading h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}

#testimonials .section-heading p {
    color: #fff;
}

#testimonials .reviews {
    margin-top: 30px;
}

#testimonials .reviews .review-box {
    background-color: white;
    padding: 20px;
    min-height: 240px;
    border-radius: 15px;
}

#products {
    padding: 120px 0;
    background-color: #fff;

}

#products .section-heading {
    margin-bottom: 50px;
}

#products .section-heading h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

#products .section-heading p {
    color: #575757;
}

#products .mobile-products {
    display: none;
}

#products .pimage {
    display: flex;
    align-items: center;
    justify-content: center;
}

#products .pimage img {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

#products h2 {
    text-align: center;
}

#products .product-box {
    margin-bottom: 120px;
}

#products .product-box .swiper-slide {
    text-align: center;
    margin-bottom: 30px;
}

#products .product-box .swiper-slide img {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}


#products .product-box:last-child {
    margin-bottom: 0;
}

#products .description-box {
    background-color: lightblue;
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
}

#products .description-box p {
    margin-bottom: .5rem;
    width: 100%;
}

#products .benefits {
    border: 1px solid green;
    padding: 20px;
    border-radius: 15px;

}

#products .benefits h4 {
    font-size: 20px;

}

#clients {
    background: linear-gradient(90deg, #071c4d, #002d97) !important;
    padding: 120px 0;
}

#certifications {
    padding: 120px 0;
}


#certifications .section-heading {
    margin-bottom: 50px;
}

#certifications .section-heading h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

#certifications .section-heading p {
    color: #575757;
}

#certifications .certificates {

    gap: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    justify-content: end;

}


#faq {
    padding: 120px 0;
    background-color: #f8f9fa;
}

#faq .section-heading {
    margin-bottom: 50px;
}

#faq .section-heading h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

#faq .section-heading p {
    color: #575757;
}

#faq img {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    animation: updown 5s infinite linear;

}



#gallery {
    padding: 120px 0;
    /* background: linear-gradient(90deg, #071c4d, #002d97) !important; */
    background-color: #fff;

}

#gallery .section-heading {
    margin-bottom: 50px;
}

#gallery .section-heading h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
}

#gallery .section-heading p {
    color: #000;
}

#gallery .gallery .swiper-slide {
    text-align: center;
}


#gallery .lg-react-element {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

#compare .section-heading {
    margin-bottom: 50px;
}

#compare .section-heading h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

#compare {
    padding: 120px 0;
    background-color: #f8f9fa;
}

#compare .cpp img {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));

}

#compare .our-generator img {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));

}

#compare .description-box {
    background-color: #59b3ff;
    padding: 20px;
    border-radius: 15px;
    /* margin: 20px 0; */
}

#compare .description-box p {
    margin-bottom: .5rem;
    width: 100%;
}

@media (max-width:768px) {
    #hero {
        height: auto;
    }

    .hero-content {
        margin-top: 60px;
        height: auto;
    }

    .hero-content .client p {
        margin: 0;
        margin-right: 20px;
    }

    .hero-content .client-names {
        display: flex;
        flex-direction: column;
    }

    #features {
        padding: 60px 0;
    }

    #features .boxes {
        grid-template-columns: auto;
    }

    #testimonials {
        height: auto;
        padding: 60px 0;
    }

    #testimonials .reviews .review-box {
        margin: 0 45px;
    }

    #products {
        padding: 60px 0;
    }

    #products .product-box {
        margin-bottom: 60px;
    }

    #products .mobile-products {
        display: block;
    }

    #products .desktop-products {
        display: none;
    }

    #certifications {
        padding: 60px 0;
    }

    #certifications .certificates {
        grid-template-columns: auto;
        display: flex;
        flex-direction: column;
    }

    #clients {
        padding: 60px 0;
    }

    #clients .swiper-slide {
        text-align: center;
    }

    #faq {
        padding: 60px 0;
    }

    #gallery {
        padding: 60px 0;
    }

    /* #gallery .gallery img {
        object-fit: contain;
        width: 250px;
        height: 300px;
        border-radius: 20px;

    } */

    #gallery .lg-react-element {
        grid-template-columns: auto;
    }

    #gallery .lg-react-element a {
        text-align: center;
    }

    #compare {
        padding: 60px 0;
    }

    #compare img {
        filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
        max-width: 100%;
        height: auto;
    }

    #compare .our-generator h2 {
        margin-top: 60px;
    }


    footer .footer-content span {
        font-size: 10px;
    }

    footer {
        padding: 40px 0;
    }
}